<!DOCTYPE html>
<html>
  <head>
    <title>Chat application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  </head>
  <body>

    {%with messages = get_flashed_messages()%}
      {%if messages%}
        {%for message in messages%}
          <strong><p>{{message}}</p></strong>
        {%endfor%}
      {%endif%}
    {%endwith%}

    <form action="{{ url_for('chat') }}">
      <label>Room id</label>
      <input type="text" required name="room" />
      <input type="submit" value="Connect" />
    </form>
    <a href="{{url_for('logout')}}">Logout</a>
  </body>
</html>
