<!DOCTYPE html>
<html>
  <head>
    <title>Chat application</title>
  </head>
  <body>

    {%with messages = get_flashed_messages()%}
      {%if messages%}
        {%for message in messages%}
          <strong><p>{{message}}</p></strong>
        {%endfor%}
      {%endif%}
    {%endwith%}

    {%if current_user.is_authenticated%}
      <p>Authenticated</p>
    {%endif%}
    <form method="POST" action="{{ url_for('join') }}">
      <label>Room Name</label>
      <input type="text" required name="name" />
      <input type="submit" value="Join" />
    </form>
    <a href="{{url_for('logout')}}">Logout</a>
  </body>
</html>
