{%extends 'base.html'%}
{%block content%}
<form class="form-signin" method="POST" action="{{ url_for('signup') }}">
  <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
  {%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for message in messages%}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {%endfor%}
  {%endif%}
  {%endwith%}
  <label for="inputUsername" class="sr-only">Username</label>
  <input
    type="text"
    id="inputUsername"
    name="username"
    class="form-control"
    placeholder="Username"
    required
    autofocus
  />
  <label for="inputEmail" class="sr-only">Email</label>
  <input
    type="text"
    id="inputEmail"
    name="email"
    class="form-control"
    placeholder="Email"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    name="password"
    class="form-control"
    placeholder="Password"
    required
  />
  <div class="checkbox mb-3">
    <label>
      <p>You have an account?</p>
      <a href="{{'login'}}">Sign in</a>
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign up
  </button>
</form>
{%endblock%}
